[submodule "src/arm64/rpi/rpi5/firmware-nonfree"]
	path = src/arm64/rpi/rpi5/firmware-nonfree
	url = https://github.com/RPi-Distro/firmware-nonfree.git
[submodule "src/arm64/rpi/rpi5/firmware"]
	path = src/arm64/rpi/rpi5/firmware
	url = https://github.com/raspberrypi/firmware.git
